body{
    width: 800px;
    margin: 10px auto;
    color: #56146C;
    background-image: url('1.jpg'); 
    background-color: #A16BB3;
    font-family: Georgia;
}
th, td{
    border: none;
}
.btt{
  display: inline-block;
  margin: 5px;
  width: 30px;
  height: 30px;
  background: #ed9ee4;
  cursor: pointer;
  border-radius: 50%;
}
.btt1{
   display: inline-block;
  margin: 5px;
  width: 30px;
  height: 76px;
  background: #eefc94;
  cursor: pointer;
  border-radius: 30%;
}
.btt0{
  display: inline-block;
  margin: 5px;
  width: 77px;
  height: 30px;
  background: #ed9ee4;
  cursor: pointer;
  border-radius: 10%;
}
#text{
    width: 210px;
    border-radius: 30%;
}
#img{
    float: left; 
    padding: 0; 
    margin: 0;
    position:relative;
    top:-8px;
}

#tb1,#calc,#tb3{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    border: white;
    text-align: justify;
}
#tb3{
    text-align: center!important ;
}

.menu ul li{
    display: inline-block;
}
.menu ul{
    position:relative;
    margin: 0;
    padding: 0;
}
.menu ul ul{
    display: none;
    position: absolute;
    color: black;
}
.menu li:hover ul{
    display:block;
}
.menu li:hover li{
    display: block;
    background-color: #D09FE0;
    border-radius: 3px;
    border: #A341C3;
}
a:visited{
    color: #f796ef;
    }
    
a:link{
    color:purple;
    }